<mat-toolbar color="primary">
  <button [routerLink]="'/'" mat-button class="ml100 fs">
    <b>EXAM PORTAL</b>
  </button>
  <span class="example-spacer"></span>
  <button *ngIf="!isLoggedIn" [routerLink]="'/login'" mat-button><b>Log in</b></button>
  <button *ngIf="!isLoggedIn" [routerLink]="'/signup'" mat-button class="mr100 ml40"><b>Register</b></button>
  <button *ngIf = "isLoggedIn" mat-button class="mr100" [matMenuTriggerFor]="afterMenu"><b>{{ user.username.toUpperCase() }}</b></button>
  <mat-menu #afterMenu="matMenu" xPosition="after">
    <button *ngIf = "isLoggedIn && user.role == 'USER'" mat-menu-item routerLink="/user-dashboard/user-profile">
      <mat-icon>account_circle</mat-icon> <span><b>PROFILE</b></span>
    </button>
    <button *ngIf = "isLoggedIn && user.role == 'ADMIN'" mat-menu-item routerLink="/admin/profile">
      <mat-icon>account_circle</mat-icon> <span><b>PROFILE</b></span>
    </button>
    <mat-divider></mat-divider>
    <button *ngIf = "isLoggedIn" (click) = "logout()" mat-menu-item>
      <mat-icon>logout</mat-icon> <span><b>LOG OUT</b></span>
    </button>
  </mat-menu>
</mat-toolbar>
