<mat-card>
  <h1>Add new exam</h1>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <form (ngSubmit)="saveExam()">
        <mat-form-field class="w100" appearance="fill">
          <mat-label>Title</mat-label>
          <input [(ngModel)]="exam.title" name="title" type="text" placeholder="Title" matInput>
        </mat-form-field>
        <mat-form-field class="w100" appearance="fill">
          <mat-label>Description</mat-label>
          <textarea [(ngModel)]="exam.description" name="description" type="text" placeholder="Description" matInput rows="8"></textarea>
        </mat-form-field>

        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="w100" appearance="fill">
              <mat-label>Max points</mat-label>
              <input [(ngModel)]="exam.maxPoints" name="maxPoints" type="text" placeholder="Max points" matInput>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="w100" appearance="fill">
              <mat-label>Number of questions</mat-label>
              <input [(ngModel)]="exam.numberOfQuestions" name="numberOfQuestions" type="text" placeholder="Number of questions" matInput>
            </mat-form-field>
          </div>
        </div>

        <mat-slide-toggle class="mt20" [(ngModel)]="exam.isActive" name="isActive" color="primary">
          Status
        </mat-slide-toggle>

        <mat-form-field appearance="fill" class="mt20 w100">
          <mat-label>Categories</mat-label>
          <mat-select name="category" [(ngModel)]="exam.category.id">
            <mat-option *ngFor="let c of categories" [value]="c.id">
              {{ c.title }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="container text-center">
          <button mat-raised-button color="primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</mat-card>

<!--{{ exam | json }}-->
