<mat-card style="margin-left: 10px;">
  <h1>Profile details</h1>
  <mat-card-content>
    <div class="bootstrap-wrapper">
      <div class="container">
        <div class="text-center">
          <img src="../../../assets/icon.png" class="profile-image">
          <h1 class="mt20">{{ user.firstname + ' ' + user.surname }}</h1>
        </div>
        <div class="row">
          <div class="col-md-10 offset-1">
            <table class="table text-center">
              <tr>
                <td>Username</td>
                <td>{{ user.username }}</td>
              </tr>
              <tr>
                <td>ID</td>
                <td>{{ user.id }}</td>
              </tr>
              <tr>
                <td>Phone number</td>
                <td>{{ user.phoneNumber }}</td>
              </tr>
              <tr>
                <td>Role</td>
                <td>{{ user.role }}</td>
              </tr>
              <tr>
                <td>Status</td>
                <td>{{ user.isEnabled ? "Active" : "Not active"}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <mat-card-actions class="text-center">
      <button mat-raised-button color="primary">Update</button>
      <button mat-raised-button color="accent">Share</button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
