<mat-card>
  <h1>Add new exam</h1>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <form (ngSubmit)="saveExam()">
        <mat-form-field class="w100" appearance="fill">
          <mat-label>Title</mat-label>
          <input [(ngModel)]="exam.title" name="title" type="text" placeholder="Title" matInput>
        </mat-form-field>
        <mat-form-field class="w100" appearance="fill">
          <mat-label>Description</mat-label>
          <textarea [(ngModel)]="exam.description" name="description" type="text" placeholder="Description" matInput rows="8"></textarea>
        </mat-form-field>

        <mat-form-field appearance="fill" class="mt10 w100">
          <mat-label>Pass percentage</mat-label>
          <mat-select name="passPercentage" [(ngModel)]="exam.passPercentage">
            <mat-option *ngFor="let p of percentages" [value]="p">
              <b>{{ p }}%</b>
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="mt10 w100">
          <mat-label>Difficulty</mat-label>
          <mat-select name="difficulty" [(ngModel)]="exam.difficulty">
            <mat-option value="easy" style="color: forestgreen"><b>EASY</b></mat-option>
            <mat-option value="medium" style="color: goldenrod"><b>MEDIUM</b></mat-option>
            <mat-option value="hard" style="color: darkred"><b>HARD</b></mat-option>
          </mat-select>
        </mat-form-field>

        <mat-slide-toggle class="mt20" [(ngModel)]="exam.active" name="isActive" color="primary">
          Status
        </mat-slide-toggle>

        <mat-form-field appearance="fill" class="mt20 w100">
          <mat-label>Categories</mat-label>
          <mat-select name="category" [(ngModel)]="exam.categoryDTO.id">
            <mat-option *ngFor="let c of categories" [value]="c.id">
              <b>{{ c.title }}</b>
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="container text-center">
          <button mat-raised-button color="primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</mat-card>

<!--{{ exam | json }}-->
