<mat-card>
  <mat-action-list>
    <div mat-subheader>Menu</div>
    <button mat-list-item routerLink="/admin/profile">
      <mat-icon mat-list-icon>account_circle</mat-icon> Profile
    </button>
    <button mat-list-item routerLink="/admin/categories">
      <mat-icon mat-list-icon>category</mat-icon> Categories
    </button>
    <button mat-list-item routerLink="/admin/add-category">
      <mat-icon mat-list-icon>add</mat-icon> Add category
    </button>
    <button mat-list-item routerLink="/admin/exams">
      <mat-icon mat-list-icon>quiz</mat-icon> Exams
    </button>
    <button mat-list-item routerLink="/admin/add-exam">
      <mat-icon mat-list-icon>add</mat-icon> Add exam
    </button>
  </mat-action-list>
</mat-card>
