<mat-card>
  <h1>Update exam</h1>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <form *ngIf="examDTO" (submit)="updateExam()">
        <mat-form-field class="w100" appearance="fill">
          <mat-label>Title</mat-label>
          <input type="text" name="title" placeholder="Title" matInput [(ngModel)]="examDTO.title" required>
        </mat-form-field>
        <mat-form-field class="w100" appearance="fill">
          <mat-label>Description</mat-label>
          <textarea type="text" name="description" placeholder="Description" matInput rows="8" [(ngModel)]="examDTO.description"></textarea>
        </mat-form-field>

        <mat-form-field appearance="fill" class="mt10 w100">
          <mat-label>Pass percentage</mat-label>
          <mat-select name="passPercentage" [(ngModel)]="examDTO.passPercentage">
            <mat-option *ngFor="let p of percentages" [value]="p">
              <b>{{ p }}%</b>
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="mt10 w100">
          <mat-label>Difficulty</mat-label>
          <mat-select name="difficulty" [(ngModel)]="examDTO.difficulty">
            <mat-option value="easy" style="color: forestgreen"><b>EASY</b></mat-option>
            <mat-option value="medium" style="color: goldenrod"><b>MEDIUM</b></mat-option>
            <mat-option value="hard" style="color: darkred"><b>HARD</b></mat-option>
          </mat-select>
        </mat-form-field>

        <mat-slide-toggle class="mt20" [(ngModel)]="examDTO.active" name="active" color="primary">
          Status
        </mat-slide-toggle>

        <mat-form-field appearance="fill" class="mt20 w100">
          <mat-label>Categories</mat-label>
          <mat-select name="categoryDTO" [(ngModel)]="examDTO.categoryDTO.id">
            <mat-option *ngFor="let c of categories" [value]="c.id">
              <b>{{ c.title }}</b>
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="container text-center">
          <button mat-raised-button color="primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</mat-card>

<!--{{ exam | json }}-->
