<div class="bootstrap-wrapper">
  <div class="container-fluid">
    <div class="row mt20" *ngIf="exams">
      <div class="col-md-6" *ngFor="let e of exams">
        <h1 class="ml10"><b>{{ e.categoryDTO.title}}</b></h1>
        <mat-card class="mb20">
          <mat-card-header>
            <div mat-card-avatar class="ml20"><mat-icon mat-list-icon>quiz</mat-icon></div>
            <mat-card-title>
              {{ e.title }}
            </mat-card-title>
            <mat-card-subtitle>
              {{ e.description }}
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <mat-card-actions>
              <button mat-flat-button color="primary" [routerLink]="'/user-dashboard/instructions/' + e.id" class="ml20">Start</button>
              <button mat-stroked-button color="primary" class="ml40">Questions: {{ e.numberOfQuestions }}</button>
              <button mat-stroked-button color="primary">Max points: {{ e.maxPoints }}</button>
              <button mat-stroked-button color="primary">Points to pass: {{ e.pointsToPass }}</button>
              <button *ngIf="e.difficulty == 'easy'" mat-stroked-button color="forestgreen" class="ml30">EASY</button>
              <button *ngIf="e.difficulty == 'medium'" mat-stroked-button color="goldenrod" class="ml30">MEDIUM</button>
              <button *ngIf="e.difficulty == 'hard'" mat-stroked-button color="darkred" class="ml30">HARD</button>
            </mat-card-actions>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-12" *ngIf="exams.length == 0">
        <mat-card>
          <mat-card-content>
            <h1>No data for this category</h1>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
