<div class="bootstrap-wrapper">
  <div class="container-fluid">
    <div class="row mt20" *ngIf="exams">
      <div class="col-md-6" *ngFor="let e of exams">
        <h1 class="ml10"><b>{{ e.categoryDTO.title}}</b></h1>
        <mat-card class="mb20">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image">
            </div>
            <mat-card-title>
              <h1>{{ e.title }}</h1>
            </mat-card-title>
            <mat-card-subtitle>
              {{ e.description }}
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <mat-card-actions>
              <button mat-flat-button color="primary" [routerLink]="'/user-dashboard/instructions/' + e.id" class="ml20">Start</button>
              <button mat-stroked-button color="primary" class="ml20">Questions: {{ e.numberOfQuestions }}</button>
              <button mat-stroked-button color="primary" class="ml10">Max points: {{ e.maxPoints }}</button>
              <button mat-stroked-button color="primary" style="color: green">Pass percentage: {{ e.passPercentage }}%</button>
              <button *ngIf="e.difficulty == 'easy'" mat-stroked-button style="color: darkgreen"><b>EASY</b></button>
              <button *ngIf="e.difficulty == 'medium'" mat-stroked-button style="color: gold"><b>MEDIUM</b></button>
              <button *ngIf="e.difficulty == 'hard'" mat-stroked-button style="color: darkred"><b>HARD</b></button>
            </mat-card-actions>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-12" *ngIf="exams.length == 0">
        <mat-card>
          <mat-card-content>
            <h1>No data for this category</h1>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
